@font-face {
    font-family: 'Now';
    src: url('../fonts/Now-Bold.eot');
    src: url('../fonts/Now-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Now-Bold.woff2') format('woff2'),
    url('../fonts/Now-Bold.woff') format('woff'),
    url('../fonts/Now-Bold.ttf') format('truetype'),
    url('../fonts/Now-Bold.svg#Now-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Now';
    src: url('../fonts/Now-Medium.eot');
    src: url('../fonts/Now-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Now-Medium.woff2') format('woff2'),
    url('../fonts/Now-Medium.woff') format('woff'),
    url('../fonts/Now-Medium.ttf') format('truetype'),
    url('../fonts/Now-Medium.svg#Now-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #24282f;
    padding-top: 31px;
}
.container{
    max-width: 1095px;
    margin: auto;

}
.d-flex{
    justify-content: space-between;
    display: flex;

}
header nav ul{
    display: flex;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
header nav ul li{
    margin-left: 24px;
    border-top: #fa090a;


}
header nav ul li a{
    color: #ffffff;
    font-size: 13px;
    padding: 0 13px;
    text-decoration: none;
}
header nav ul li:hover:after{

    background-color: #b5a263;
    width: 100%;

}
header nav ul li:after{
    display: block;
    transition: 0.3s;
    width: 0;
    content: "";
    height: 2px;
    margin-top: 33px;
}
header section {
    background-image:url('../images/fon3.png');
    background-size: cover ;
}
header section div{
    max-width: 1095px;
    margin: auto;
}
h1{
    color: #ffffff;
    font-size: 23px;
    padding-top: 71px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}
header section div p{
    color: #ffffff;
    font-size: 8px;
    line-height: 11px;
    padding-bottom: 85px;
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;
}



.management{
    background-color: #ffffff;
    padding: 120px 0 25px 0;


}
.management h2{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 19px;
    color: #24282f;
}

.management h2:after{
    content: "";
    background-color: #b5a263;
    height: 3px;
    width: 60px;
    display: block;
    margin: 22px auto 26px;
}
.workers{
    display: flex;
    justify-content: space-between;
}
.worker{
    transition: 0.5s;

}
.worker:hover{
    transform: scale( 1.1);

}

.workers h3{
    color: #232323;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 9px;
}
.workers h4{
    color: #b5a264;
    text-transform: capitalize;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
}

.person .btn_soc{
    display: inline-block;
    height: 27px;
    width: 27px;
    border-radius: 100%;
    text-align: center;
    border: solid 1px #dedede;
    margin-left: 5px;
    background-color: #dedede;
    transition: 0.5s;
}

.person .btn_soc i{
    color: #ffffff ;
    font-size: 12px;
    text-align: center;
}

.person .btn_soc:hover{
    background-color: #ffffff;
}
.person .btn_soc:hover i{
    color: #dedede;
}

.general{
    display: flex;
    padding: 23px 8px 35px 8px;
    justify-content: space-between;
}
.button{
    text-align: center;

}
.button button{
    font-size: 13px;
    color: #24282f;
    padding: 13px 30px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    border-radius: 100px;
    background-color: #ffffff;


}

.clients{
    background-color: #f7f7f7;
    padding: 95px 0 ;

}
.client{
    max-width: 1095px;
    margin: auto;
}
.clients h3{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 19px;

}

.clients h3:after{
    background-color: #24282f;
    height: 3px;
    width: 62px;
    content: "";
    display: block;
    margin: 23px auto 50px;
}
.photo{
    max-width: 74px;
    margin: auto;
}
.photo_client{
    margin-bottom: 30px;
    border-radius: 100px;
}
.text{
    font-size: 11px;
    color: #2d2d2d;
    line-height: 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.name{
    text-align: center;
    margin: 37px 0  17px 0;
    font-size: 12px;
    color: #c0b07c;
    font-family: 'Open Sans', sans-serif;
}
.job{
    text-align: center;
    font-size: 11px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}


.owl-nav{
    width: 100%;
    position: absolute;
    top: 30%;
}

.owl-nav .owl-prev{
    position: absolute;
    left: 0;
}
.owl-nav .owl-prev:after{
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    content: "\f053";
}

.owl-nav .owl-next{
    position: absolute;
    right: 0;
}
.owl-nav .owl-next:after{
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    content: "\f054";
}
.owl-carousel .owl-nav.disabled {
    display: inline-block;
}

.f {
    background-color: #2b2f35;
    padding: 60px 0 35px 0;

}
.container_f{
    max-width: 1095px;
    margin: auto;
    justify-content: space-between;
    display: flex;


}
.container_f p{
    font-family: 'Open Sans', sans-serif;
    color: #5d6167;
    font-size: 8px;
    line-height: 12px;

}
.container_f h3{
    color: #b3a062;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;

}
.abo{
    width: 234px;

}
.con{
    margin:0 125px 0 137px;
    width: 160px;

}
.sub{
    width: 237px;


}
.sub .email{
    border-color: #61656b;
    width: 100%;
    background-color: #2b2f35;
    color: #62666d;
    padding: 10px 0 10px 8px ;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;

}
.sub .now{
    border: none;
    width: 100%;
    background-color: #b5a263;
    color: #faf9f5;
    font-size: 10px;
    text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}


footer .btn_soc {
    display: inline-block;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    text-align: center;
    border: solid 1px #5b5f66;
    margin-left: 8px;
    transition: 0.3s;
}

footer .btn_soc i{
    color: #5b5f66 ;
    font-size: 12px;
    text-align: center;
}
footer{
    background-color: #24282f;
    padding: 14px 0;

}
footer .btn_soc:hover{
    background-color: #b5a263;
    border: solid 1px #b5a263 ;
}
footer .btn_soc:hover i{
    color: white;
}
footer div p{
    color: #4e5259;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

}

